.kbts-page-resume{
    display: grid;

    &-content{
        display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-evenly;
    }

    &-skills{
        padding: 2em;
    }
}

@media only screen and (max-width: 760px){
    .kbts-page-resume-content{
        grid-template-columns: auto;
    }
}