.kbts-name-card{
    position: absolute;
    z-index: 1;
    bottom: 0;
    color: white;
    font-size: 150%;
    text-align: center;
    display: grid;
    grid-template-rows: auto;
    letter-spacing: -1px;
    left: 50%;
    transform: translate(-50%, 0);

    &-text-1{
        margin: 0;
    }
    &-text-2{
        font-size: 200%;
        letter-spacing: -4px;
    }
}